.pattern1 {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  margin-top: 10px;
}

.pattern1 .item:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern1 .item:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* pattern 2 */
.pattern2 {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern2 .item:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern2 .item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern2 .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern2_a {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern2_a .item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern2_a .item:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern2_a .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* pattern 3 */
.pattern3 {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern3 .item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3 .item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3 .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3 .item:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* pattern 4 */
.pattern4 {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  margin-top: 10px;
}

.pattern4 .item:nth-child(1) {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4 .item:nth-child(2) {
  grid-row: 4 / 7;
  grid-column: 1 / 4;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4 .item:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4 .item:nth-child(4){
  grid-row: 3 / 5;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4 .item:nth-child(5){
  grid-row: 5 / 7;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}

/* .itemA > img {
  width: 250px;
  height: 500px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.itemB > img {
  width: 250px;
  height: 250px;
  position: absolute;
  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.itemC > img {
  width: 250px;
  height: 250px;
  position: absolute;
  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  */

/* .container img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */


