/* 2 pics */
.pattern2 {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
  overflow: hidden;
}

.pattern2 .item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 1px 1px;
}

.pattern2 .item:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin: 1px 1px;
}

.pattern2_a {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern2_a .item:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern2_a .item:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* 3 pics */
.pattern3 {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern3 .item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3 .item:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3 .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3_a {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern3_a .item:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3_a .item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern3_a .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* 4 pics */
.pattern4 {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}

.pattern4 .item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: 1px 1px;  
  overflow: hidden;
}

.pattern4 .item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4 .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4 .item:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* pattern 4_a */
.pattern4_a {
  display: grid;
  grid-template-rows: 200px  200px 200px;
  grid-template-columns: 300px 300px;
  margin-top: 10px;
}


.pattern4_a .item:nth-child(1) {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4_a .item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4_a .item:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern4_a .item:nth-child(4) {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

/* 5 pics */
.pattern5_a {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  margin-top: 10px;
}

/* 5_a pics */
.pattern5 {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  margin-top: 10px;
}

.pattern5 .item:nth-child(1) {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5 .item:nth-child(2) {
  grid-row: 1 / 4;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5 .item:nth-child(3) {
  grid-row: 4 / 7;
  grid-column: 1 / 3;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5 .item:nth-child(4){
  grid-row: 4 / 7;
  grid-column: 3 / 5;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5 .item:nth-child(5){
  grid-row: 4 / 7;
  grid-column: 5 / 7;
  margin: 1px 1px;
  overflow: hidden;
}


.pattern5_a .item:nth-child(1) {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5_a .item:nth-child(2) {
  grid-row: 4 / 7;
  grid-column: 1 / 4;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5_a .item:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5_a .item:nth-child(4){
  grid-row: 3 / 5;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}

.pattern5_a .item:nth-child(5){
  grid-row: 5 / 7;
  grid-column: 4 / 7;
  margin: 1px 1px;
  overflow: hidden;
}


.item img:nth-child(1) {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.item img:nth-child(2) {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.item img:nth-child(3) {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.item img:nth-child(4) {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.item img:nth-child(5) {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

